body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*width: 1920px;адаптив*/
  margin: 0 auto;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  width: 100%;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

/*Start Header*/
.content-header {
  width: 100%;
  height: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header_burger {
  width: 30px;
  height: 20px;
  margin-top: 22px;
  margin-right: 43px;
  position: relative;
  display: none;
}
.burger_line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
  position: absolute;
  left: 0;
}
.burger_line__first {
  top: -3px;
}
.burger_line__second {
  top: 41%;
  transform: translateY(-50%);
}
.burger_line__third {
  bottom: 1px;
}
.logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.title-header a {
  text-decoration: none;
  color: #545454;
}
.menu {
  display: flex;
  align-items: center;
}
.menu-list {
  display: flex;
}
.list-li-a {
  margin-right: 35px;
  font-size: 15px;
  line-height: 24px;
  color: #545454;
  text-decoration: none;
}
.list-li-a:hover {
  opacity: 0.5;
}
.active-link {
  color: #292929;
  border-bottom: 3px solid #f1cdb3;
}
.menu-list-last {
  margin-right: 0;
}
h1 {
  font-family: Georgia;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 0.06em;
}
.title-p {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.13em;
  color: #292929;
 
}
/*End Header*/

/*Start Pets Section*/
.pets {
  background: #f6f6f6;
}
.card {
  background: #FAFAFA;
}
.card > img {
  height: 270px;
}
.card:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.pets-title {
  padding-top: 80px;
  padding-bottom: 60px;
  margin: 0 auto;
  text-align: center;
}
h2 {
  font-family: Georgia;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}
.pet-cards {
  width: 100%;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(4, 270px);
  grid-column-gap: 40px;
  grid-row-gap: 30px;
  padding-bottom: 60px;
  justify-content: center;
}
h4 {
  font-family: Georgia;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  padding-top: 27px;
  padding-bottom:30px ;
}
button {
  width: 187px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  margin-bottom: 30px;
  background: #FAFAFA;
}
.learn-button {
  font-family: Georgia;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  text-decoration: none;
}
button:hover {
  background: #fddcc4;
  border: none;
}
.navigation-cards {
  padding-bottom: 100px;
  font-family: Georgia;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  display: flex;
  justify-content: center;
}
.navigation-cards > a {
  text-decoration: none;
}
.switch {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  box-sizing: border-box;
  border-radius: 100px;
  margin-right: 20px;
}
.switch:last-child {
  margin-right: 0;
}
.switch > a {
  text-decoration: none;
  color: #292929;
}
.inactive_page-card {
  border: 2px solid #cdcdcd;
}
.inactive_page-card a {
  color: #cdcdcd;
}
.active_page-card {
  background: #f1cdb3;
  color: #292929;
}
.switch:hover {
  background: #fddcc4;
}

.next_page-card {
  border: 2px solid #f1cdb3;
}
/*End Pets Section*/
/*? Footer */
footer {
  background: url(../assets/start-screen-gradient-background.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%),
    #211f20 no-repeat;
  background-size: cover;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-image {
  padding-top: 40px;
  height: 310px;
}
.footer-title {
  padding-top: 56px;
  font-family: Georgia;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 279px;
}
.footer-text{
  padding-right:10px;
}
.contacts {
  display: flex;
  align-items: center;
}
h4 > a {
  text-decoration: none;
  font-family: Georgia;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}
h4 > a:hover {
  opacity: 0.5;
}
a > img:hover {
  opacity: 0.5;
}

.contacts > h4 {
  margin-left: 20px;
  padding: 0;
}
.icon-email {
  padding: 38px 0;
}
.icon-marker {
  padding: 38px 0;
}
/*? END footer */
@media screen and (max-width: 1279px) {
  header{
    padding: 0 30px;
  }
  .pets-title{
    padding-top: 82px;
    padding-bottom: 29px;
  }
  .pet-cards {
    grid-template-columns: repeat(3, 270px);
    padding-bottom: 41px;
  }
  .footer-container {
    justify-content: space-evenly;
  }
  .navigation-cards{
    padding-bottom: 75px;
  }
  .footer-image{
    padding-top: 60px;
  }
  .footer-title {
    padding-top: 30px;
  }
  .last-card {
    display: none;
  }
@media screen and (max-width: 910px) {
  .pet-cards {
    grid-template-columns: repeat(2, 270px);
  }
}
@media screen and (max-width: 767px) {
  .pet-cards {
    grid-template-columns: repeat(1, 270px);
  }
  header{
    padding: 0 10px;
  }
  .header_burger {
    display: block;
  }
  .menu {
    position: fixed;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    background: black;
    z-index: 10;
    align-items: flex-start;
    transform: translateX(150%);
    transition: 0.2s all linear;
  }
  .nav-menu_active {
    transform: translateX(0);
  }
  .menu-list > li {
    width: 100%;
    padding-top: 40px;
    padding-left: 40px;
  }
  .menu-list > li > a {
    font-size: 42px;
    line-height: 48px;
  }
  .header__nav-close {
    width: 30px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 11;
  }
  .header__nav-close-line {
    display: block;
    height: 2px;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 50%;
  }
  .header__nav-close-line:first-child {
    transform: translateY(-50%) rotate(45deg);
  }
  .header__nav-close-line:last-child {
    transform: translateY(-50%) rotate(-45deg);
  }
  h2 {
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: center;
  }
  .last-card-320{
    display: none;
  }
  .pets-title{
    padding: 42px 0;
  }
  .pet-cards{
    padding-bottom: 42px;
  }
  .switch {
    margin-right: 10px;
  }
  .navigation-cards {
    padding-bottom: 42px;
  }
  h5{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
  }

  .footer-title{
font-size: 25px;
line-height: 130%;
text-align: center;
width: 278px;
  }
  .footer-title{
    padding-top: 30px;
    padding-left: 10px;
  }
  .footer-text-block{
    margin-right: 0;
    text-align: center
  }
  .footer-text{
    padding-right: 0;
  }
  .contact-mail, .contact-tel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
  }
  .footer-image{
    width: 260px;
    height: 269px;
    padding-top: 33px;
  }
  .footer-text-block:first-child{
    padding-bottom:10px ;
  }
  .contact-address{
    height: 46px;
    padding-top: 40px;
    text-align: left;
  }
  .contact-address:last-child{
    padding-top: 30px;
  }

}
