body {
  box-sizing: border-box;
  max-width: 1920px;
  margin: 0 auto;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
}
section {
  display: flex;
  justify-content: center;
}
header {
  /*background: url(../assets/start-screen-gradient-background.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;*/
  display: flex;
  justify-content: center;
}
.wrapper {
  width: 62.5%;
}
.content-header {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.nav-menu {
  display: flex;
  align-items: center;
}
.header-ul {
  display: flex;
}
.header-ul > li a {
  margin-left: 35px;
  margin-top: 16px;
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
  text-decoration: none;
  margin-bottom: 4px;
}
.header-ul > li a:hover {
  color: #fafafa;
}
/*.header-ul > li a:active {
  color: #fafafa;
  border-bottom: 3px solid #f1cdb3;
}*/
.header-ul > li:first-child a {
  color: #fafafa;
  border-bottom: 3px solid #f1cdb3;
}
.title-header {
  font-family: Georgia;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}
.title-p {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.13em;
  color: #ffffff;
}

/*?block start-screen*/
.bg-container {
  background: url(../assets/start-screen-gradient-background.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}
.start-screen {
  display: flex;
}
.start-intro-block {
  margin-top: 223px;
}
.start-screen-img {
  margin-top: 60px;
  margin-left: 42px;
}
h2 {
  font-family: Georgia;
  font-size: 44px;
  line-height: 130%;
  width: 310px;
  color: #ffffff;
  margin-bottom: 42px;
}
.start-screen-p {
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
  margin-bottom: 41px;
}
.start-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 207px;
  height: 52px;
  background: #f1cdb3;
  border-radius: 100px;
  font-family: Georgia;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  text-decoration: none;
}
.start-button:hover {
  background: #fddcc4;
}
/*? END block start-screen*/

/*? block About*/
.about {
  display: flex;
  justify-content: center;
}
.about > img {
  margin: 80px 120px 100px 0;
}
.about-info {
  margin-top: 94px;
}
h3 {
  font-family: Georgia;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}
.about-info > h3 {
  width: 370px;
  margin-bottom: 25px;
}
.about-info > p {
  width: 430px;
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
}
.about-info p {
  margin-bottom: 25px;
}
/*?END block About*/

/*?block Pets*/
.pets {
  background: #f6f6f6;
}
.pets-title {
  margin: 80px auto 60px;
  text-align: center;
}
.pet-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
.card {
  height: 435px;
  width: 270px;
  margin-right: 90px;
  background: #fafafa;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.card:hover {
  background: #ffffff;
}
.last-card {
  margin-right: 0px;
}
.pets-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
h4 {
  display: flex;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}
.learn-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 187px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  font-family: Georgia;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  text-decoration: none;
}
.learn-button:hover {
  background: #fddcc4;
}

.arrow {
  text-decoration: none;
  color: #292929;
}
.arrow-container {
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  margin-right: 53px;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.arrow-container:hover {
  background: #fddcc4;
}
.pet-cards > .arrow-container:last-child {
  margin-left: 53px;
  margin-right: 0px;
}
.rest-button {
  width: 261px;
  height: 54px;
}
/*?END block Pets*/

/*?block Help*/

.help-title {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 60px;
}
.offers-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 42px;
}
.offer {
  text-align: center;
  margin: 0 3.75rem 3.5rem 3.75rem;
  height: 113px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/*? END block Help*/

/*? block Dotation */
.dotation-section {
  background: #f6f6f6;
}
.dotation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 464px;
}
.dotation-dog {
  margin-bottom: 20px;
}

.dotation-info > h3 {
  margin-bottom: 20px;
}
h5 {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 20px;
}
.credit-card {
  width: 349px;
  height: 43px;
  background: #f1cdb3;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.credit-card:hover {
  background: #fddcc4;
}
.dotation-info {
  margin-left: 30px;
  margin-bottom: 20px;
}
.dotation-info > p {
  font-style: italic;
  font-size: 12px;
  width: 380px;
  line-height: 150%;
  color: #b2b2b2;
}
/*? END block Dotation */

/*? Footer */
footer {
  background: url(../assets/start-screen-gradient-background.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  display: flex;
  justify-content: center;
}
.footer-container {
  display: flex;
  justify-content: space-between;
}
.footer-container > img {
  margin-top: 40px;
}
.footer-text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-text-block > h3 {
  color: #ffffff;
  margin-bottom: 33px;
}
h4 > a {
  text-decoration: none;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}
#footer-question {
  margin-bottom: 38px;
}

.contacts {
  display: flex;
  align-items: center;
  margin-bottom: 33px;
}

.contacts:last-child {
  margin-bottom: 0;
}

.contacts > a > img {
  margin-right: 20px;
}
.contacts > h4 {
  color: #f1cdb3;
}
.icon-marker {
  height: 32px;
}
/*? END footer */
