/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*width: 1920px;адаптив*/
  margin: 0 auto;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  width: 100%;
}

header {
  /*background: url(../assets/start-screen-gradient-background.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;*/
  /*адаптив*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /*адаптив*/
}
.header_burger {
  width: 30px;
  height: 20px;
  margin-top: 22px;
  position: relative;
  display: none;
}
.burger_line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #f1cdb3;
  position: absolute;
  left: 0;
}
.burger_line__first {
  top: 0;
}
.burger_line__second {
  top: 50%;
  transform: translateY(-50%);
}
.burger_line__third {
  bottom: 0;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.content-header {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header-ul > li a {
  margin-left: 35px;
  margin-top: 16px;
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
  text-decoration: none;
  margin-bottom: 4px;
}
.header-ul > li a:hover {
  color: #fafafa;
}
/*.header-ul > li a:active {
  color: #fafafa;
  border-bottom: 3px solid #f1cdb3;
}*/
.header-ul > li:first-child a {
  color: #fafafa;
  border-bottom: 3px solid #f1cdb3;
}
.title-header {
  font-family: Georgia;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}
.title-p {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.13em;
  color: #ffffff;
}

/*?block start-screen*/
.start-screen-section {
  background: url(../assets/start-screen-gradient-background.png),
    -o-radial-gradient(0% 0%, 100% 215.42%, #5b483a 0%, #262425 100%),
    #211f20 no-repeat;
  background: url(../assets/start-screen-gradient-background.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%),
    #211f20 no-repeat;
  background-size: cover;
  padding-top: 120px;
}
.start-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.start-intro-block {
  margin-top: 223px;
}
.start-screen-img {
  margin-top: 60px;
  margin-left: 42px;
}
h2 {
  font-family: Georgia;
  font-size: 44px;
  line-height: 130%;
  width: 310px;
  color: #ffffff;
  margin-bottom: 42px;
}
.start-screen-p {
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
  margin-bottom: 41px;
  width: 460px;
}
.start-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 207px;
  height: 52px;
  background: #f1cdb3;
  border-radius: 100px;
  font-family: Georgia;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  text-decoration: none;
}
.start-button:hover {
  background: #fddcc4;
}
/*? END block start-screen*/

/*? block About*/
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.about > img {
  margin: 80px 120px 100px 0;
  height: 408px;
}
.about-info {
  margin-top: 94px;
  margin-bottom: 89px;
}
h3 {
  font-family: Georgia;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}
.about-info > h3 {
  width: 370px;
  margin-bottom: 25px;
}
.about-info > p {
  width: 430px;
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
}
.about-info p {
  margin-bottom: 25px;
}
/*?END block About*/

/*?block Pets*/
.pets {
  background: #f6f6f6;
}
.pets-title {
  padding-bottom: 60px;
  padding-top: 80px;
  text-align: center;
}
.pet-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 60px;
}
.card {
  height: 435px;
  width: 270px;
  margin-right: 90px;
  background: #fafafa;
  border-radius: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
}
.card:hover {
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  cursor: pointer;
}

.last-card {
  margin-right: 0px;
}
.pets-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 100px;
}
.card > h4 {
  padding: 30px 0;
}
h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}
.learn-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 187px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  font-family: Georgia;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  text-decoration: none;
}
.learn-button:hover {
  background: #fddcc4;
  border: none;
}

.arrow {
  text-decoration: none;
  color: #292929;
}
.arrow-container {
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  margin-right: 53px;
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.arrow-container:hover {
  background: #fddcc4;
  border: none;
}
.pet-cards > .arrow-container:last-child {
  margin-left: 53px;
  margin-right: 0px;
}
.rest-button {
  width: 261px;
  height: 54px;
}
/*?END block Pets*/

/*?block Help*/

.help-title {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 60px;
}
.offers-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 42px;
}
.offer {
  width: 170px;
  text-align: center;
  margin: 0 30px 60px 30px;
  height: 113px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/*? END block Help*/

/*? block Dotation */
.dotation-section {
  background: #f6f6f6;
}
.dotation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.dotation-dog {
  padding-bottom: 111px;
  padding-top: 91px;
}

.dotation-info > h3 {
  margin-bottom: 20px;
  margin-top: 81px;
}

/**/
h5 {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 20px;
}
.credit-card {
  width: 349px;
  height: 43px;
  background: #f1cdb3;
  border-radius: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}
.credit-card:hover {
  background: #fddcc4;
}
.dotation-info {
  padding-left: 30px;
}
.dotation-info > p {
  font-style: italic;
  font-size: 12px;
  width: 380px;
  line-height: 150%;
  color: #b2b2b2;
  margin-bottom: 101px;
}
/*? END block Dotation */

/*? Footer */
footer {
  background: url(../assets/start-screen-gradient-background.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%),
    #211f20 no-repeat;
  background-size: cover;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-image {
  padding-top: 40px;
}
.footer-title {
  padding-top: 56px;
  font-family: Georgia;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.contacts {
  display: flex;
  align-items: center;
}
h4 > a {
  text-decoration: none;
  font-family: Georgia;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}
.contacts > h4 {
  margin-left: 20px;
  padding: 0;
}
.icon-email {
  padding: 38px 0;
}
.icon-marker {
  padding: 38px 0;
}
/*? END footer */

@media screen and (max-width: 1279px) {
  .content-header {
    margin: 30px 53px 0 10px;
  }
  .start-intro-block {
    margin: 0 auto;
  }
  .start-button {
    display: block;
    margin: 0 auto;
    text-align: center;
    line-height: 52px;
  }
  .start-screen-section {
    padding-top: 150px;
  }
  .start-screen-img {
    margin-top: 100px;
    margin-left: 169px;
    width: 569px;
    height: 593px;
  }
  .start-screen {
    flex-direction: column;
    align-items: center;
  }
  .about {
    flex-direction: column-reverse;
    align-items: center;
  }
  .about-info {
    margin: 80px 0;
  }
  .about > img {
    margin: 0 0 100px 0;
  }
  .pet-cards {
    justify-content: space-between;
  }
  .last-card {
    display: none;
  }
  .second-card {
    margin: 0;
  }
  .arrow-container {
    margin-right: 0;
    margin-left: 0;
  }
  .card {
    margin-right: 0;
  }
  .dotation-container {
    flex-direction: column-reverse;
  }
  .dotation-info {
    padding: 0;
  }
  .dotation-dog {
    padding-top: 0;
    padding-bottom: 100px;
  }
  .footer-container {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
  .footer-text-block {
    margin-right: 50px;
  }
  .footer_last_text_block {
    margin-right: 0;
  }
}
@media screen and (max-width: 767px) {
  .header_burger {
    display: block;
  }
  .nav-menu {
    position: fixed;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    background: black;
    z-index: 10;
    align-items: flex-start;
    transform: translateX(150%);
    transition: 0.2s all linear;
  }
  .nav-menu_active {
    transform: translateX(0);
  }
  .header-ul > li {
    width: 100%;
    padding-top: 40px;
    padding-left: 40px;
  }
  .header-ul > li > a {
    font-size: 42px;
    line-height: 48px;
  }
  .header__nav-close {
    width: 30px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 11;
  }
  .header__nav-close-line {
    display: block;
    height: 2px;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 50%;
  }
  .header__nav-close-line:first-child {
    transform: translateY(-50%) rotate(45deg);
  }
  .header__nav-close-line:last-child {
    transform: translateY(-50%) rotate(-45deg);
  }
  .wrapper {
    padding: 0 10px;
  }
  .start-title {
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: center;
  }
  .start-screen-img {
    width: 270px;
    height: 271px;
    margin-left: 50px;
  }
  .start-intro-block {
    margin-top: 60px;
  }
  .start-screen-p {
    width: 300px;
    text-align: center;
  }
  .start-button {
    display: block;
    margin: 0 auto;
    text-align: center;
    line-height: 52px;
  }

  .about-info > p {
    width: 270px;
    margin: 0 auto;
  }
  h3 {
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: center;
  }
  .about > img {
    width: 260px;
    height: 353.6px;
  }
}
