.block-logo {
    display: flex;
    justify-content: space-between;
}
#title-color{
    color: green;
}
.block-logo__image {
    width: 200px;
    height: 200px;
}
.block-logo__dart{
    width: 300px;
    height: 200px;
}
.ts-image{
    height: 70vh;
}
.typing-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.typing-image{
    height: 70vh;
}
