body{
  background: url("assets/acground.jpg");
  /*background-repeat: no-repeat;
  background-size: cover;*/
}
textarea::placeholder {
  color: white;
}
.use-keyboard-input {
  display: block;
  width: 80%;
  margin: 15px auto;
  padding: 10px;
  font-size: 20px;
  /*height: calc(100vh - 500px);*/
  height: 10vh;
  min-height: 40vh;
  background: url("assets/window1.jpg") center;
  border: 5px solid black;
  color:white;
  
}
textarea:focus
{
  outline: none;
}

.keyboard {
  position: fixed;
  left: 10%;
  bottom: 0;
  width: 80%;
  margin: 0 auto;
  padding: 5px 0;
  /*background: #004134;*/
  /*background: black;*/
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  user-select: none;
  transition: bottom 0.4s;
}

.keyboard--hidden {
  bottom: -100%;
}

.keyboard__keys {
 text-align: center;
}

.keyboard__key {
  height: 45px;
  width: 6%;
  max-width: 90px;
  margin: 2px;
  border-radius: 4px;
  border: none;
  /*background: rgba(255, 255, 255, 0.2);*/
  background: black;
  color: #ffffff;
  border: 1px solid white;
  /*color: #000;*/
  font-size: 1.05rem;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  position: relative;
}
.keyboard__key:hover{
  background: rgba(255,255, 255, 0.8);
}
.keyboard__key:active {
  /*background: rgba(255, 255, 255, 0.12);*/
  background: rgb(93, 1, 240);
}

.keyboard__key--active-button{
  background: rgb(93, 1, 240);
}

.keyboard__key--wide {
  width: 10%;
  max-width: 400px;
}

.keyboard__key--shift-wide {
  width: 13%;
  max-width: 400px;
}
.keyboard__key--backspace-wide {
  width: 15%;
  max-width: 400px;
}
.keyboard__key--capslock-wide {
  width: 7%;
  max-width: 400px;
}
.keyboard__key--voice-wide {
  width: 7%;
  max-width: 400px;
}
.keyboard__key--done-wide {
  width: 8%;
  max-width: 400px;
}
.keyboard__key--extra-wide {
  width: 36%;
  max-width: 500px;
}

.keyboard__key--activatable::after{
  content: '';
  top: 10px;
  right: 10px;
  position: absolute;
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
}

.keyboard__key--active::after {
  background:rgb(1, 255, 14);
}

.keyboard__key--dark {
  /*background: rgba(0, 0, 0, 0.25);*/
}


@media screen and (max-width: 768px) {
  .keyboard__key--wide {
    width: 8%;
  }
  .keyboard__key--done-wide {
    width: 7%;
    max-width: 400px;
  }
  .keyboard__key--extra-wide {
    width: 24%;
  }
  .keyboard__key--shift-wide {
    width: 10%;
  }
  .keyboard {
    left: 0%;
    bottom: 0%;
    width: 100%;
    background: black;
  }
  .keyboard__key {
    height: 40px;
  }
}
@media screen and (max-height: 497px) {
  .keyboard {
    left: 0%;
    bottom: 0%;
    width: 100%;
    background: black;
  }
  .keyboard__key {
    height: 40px;
  }
}